
.autocomplete-chatsearch {
    width: 1500px;
}
.mymessages {
    height: 100%;
    width: 100%;
    padding-top: var(--Header-height);
  }
  
  .message-main {
    height: 80%;
    width: 80%;
    padding-top: var(--Header-height);
  }
  
  .message-aside {
    color: #000;
    height: 760px;
    width: 30%;
    padding-top: var(--Header-height);
  }
