.timeline-parent{
    .timeline {
      display: flex;
      width: 95%;
      margin: 40px auto;
      .lineitem {
        width: 55%;
        transform: translateX(50%);
      }
    }
    :deep(.el-timeline-item__tail) {
      border-left: none;
      border-top: 2px solid #7c63ec;
      width: 100%;
      top: 6px;
      position: absolute;
  
    }
    :deep(.el-timeline-item__wrapper) {
      padding-left: 0;
      position: relative;
      top: 20px;
      transform: translateX(-50%);
      text-align: center;
    }
  }
  .timeline-children {
    .timeline {
      display: flex;
      width: 95%;
      margin: 40px auto;
      .lineitem {
        width: 55%;
        transform: translateX(50%);
      }
    }
    :deep(.el-timeline-item__tail) {
      border-left: 2px solid rgba(117, 170, 117, 0.5);
      border-top: none;
      height: 100%;
      transform: translateX(20%);
      left: 6px;
      position: absolute;
  
    }
    :deep(.el-timeline-item__node){
      transform: translateX(160%);
  
    }
    :deep(.el-timeline-item__wrapper) {
      padding-left: 0;
      position: relative;
      top: 20px;
      transform: translateX(50%);
      text-align: center;
    }
  }
  